navbar-main   = #333
navbar-title  = #FFF
navbar-shadow = #000
color-main    = rgb(126, 18, 44)
color-main-li = rgb(148,21,52)
color-main-da = rgb(104,15,36)

text-main         = #222
text-main-li      = #BBB
text-main-da      = #000
text-link         = color-main
text-link-visited = color-main-da