navbar-main   = #333
navbar-title  = #FFF
navbar-menu   = #EEE
navbar-shadow = #000
color-main    = rgb(126, 18, 44)
color-main-li = rgb(148, 21, 52)
color-main-da = rgb(104, 15, 36)

text-main         = #222
text-main-li      = #BBB
text-main-da      = #000
text-link         = color-main
text-link-visited = color-main-da

editor-bar-bg     = #DDD
editor-bar-hover  = #BBB
editor-bar-focus  = #888
editor-border     = #AAA
editor-btn-border = #666

calendar-sparse   = rgba(0, 255, 0, 0.1)
calendar-medium   = rgba(255, 165, 0, 0.2)
calendar-lots     = rgba(255, 0, 0, 0.3)