normalize-css()

@import colours
@import mixins

font-sans = "HelveticaNeue-Light",
            "Helvetica Neue Light",
            "Helvetica Neue",
            Roboto,
            Helvetica,
            Arial,
            "Lucida Grande",
            sans-serif

font-serif = "Crimson Text",
             "EB Garamond",
             Garamond,
             serif

html,
body
    margin                 0
    color                  text-main
    -webkit-font-smoothing antialiased
    font-family            font-sans
    font-weight            300

a,
a:hover
    color           text-link
    text-decoration none
    font-weight     bold
    cursor          pointer

a:visited
    color   text-link
    
.navbar
    color            white
    background-color navbar-main
    padding          16px
    padding-bottom   8px
    border-radius    0
    margin-bottom    0

.navbar-border
    height           10px
    background-color color-main
    border-bottom    2px solid color-main-da
    border-top       2px solid color-main-li
    margin-bottom    20px

.navbar-title,
a.navbar-title,
a.navbar-title:visited,
a.navbar-title:hover
    font-size   1.2em
    margin-left 64px
    color       navbar-title
    text-shadow 1px 1px 2px navbar-shadow
    height      100%

    &:focus
        box-shadow      none
        border          none
        text-transform  none

.navbar-icon
    width       48px
    height      48px
    margin      5px
    margin-top  0
    position    absolute
    shadowed-image("/img/waltz-example_logo.png", 0px, 1px, 3px, navbar-shadow)
    &:focus
        border      none
        box-shadow  none

.navbar-menu
    float       right

.navbar-menu > a
    color                   navbar-menu
    vertical-align          center
    padding                 12px
    padding-bottom          18px
    border-top-left-radius  10px
    border-top-right-radius 10px
    -webkit-transition      width 2s, height 2s, background-color 0.2s, -webkit-transform 2s
    transition              width 2s, height 2s, background-color 0.2s, transform 2s

    &:hover
        color               white
        background-color    color-main
    &:focus
        border              none
        box-shadow          none

.navbar-menu login-modal
    margin-left 12px

footer
    text-align  center
    padding-top 16px

.glyphicon-white-circle
    color               navbar-main
    background-color    navbar-menu
    text-align          center
    vertical-align      center
    padding             6px 6px 6px 6px
    margin              -6px 0
    border-radius       16px
    &:hover
        background-color    white

.unselectable
   -moz-user-select     -moz-none
   -khtml-user-select   none
   -webkit-user-select  none
   -ms-user-select      none
   user-select          none

.bold
    font-weight     bold

.underline
    text-transform  underline

.italic
    font-style  italic

.indent
    margin-left 16px

.posts-list
    list-style  none
    margin      0
    padding     0

.post,
.post:visited
    font-weight   normal
    color         text-main
    display       block
    padding       5px
    margin        0
    border-bottom 1px solid text-main-li

.post:hover
    background-color alpha(color-main, 0.1)
    font-weight      normal
    color            text-main

.post-title
    font-weight bold
    color       color-main-da

.post-metadata
    text-align  right
    color       text-main-li

.post-date
    font-style  italic

.post-author
    font-style  italic

editable-info div.enabled
    border              1px dashed #EEE
    margin              -3px -8px
    padding             2px 7px

    &:hover
        border              1px solid #DDD
        -webkit-box-shadow  inset 2px 2px 3px 0px #EEE
        -moz-box-shadow     inset 2px 2px 3px 0px #EEE
        box-shadow          inset 2px 2px 3px 0px #EEE
        cursor              pointer

editable-info textarea
    width               100%
    border              1px solid #DDD
    resize              vertical
    margin              -3px -8px
    padding             2px 7px
    position            relative
    top                 -21px
    h1 &
        top             -39px

editable-info span.btn
    border                      1px solid #DDD
    border-bottom               none
    border-radius               10px
    border-bottom-left-radius   0
    border-bottom-right-radius  0
    padding                     3px 6px 0px 7px
    background-color            #F0F0F0
    color                       #444
    margin-right                4px
    position                    relative
    z-index                     10000
    top                         -24px
    left                        -8px
    &.disabled
        opacity                 1
        background-color        #F5F5F5
        color                   #858585
    h1 &
        top                     -39px

*:focus
    box-shadow          0 0 5px color-main
    border              1px solid color-main-da
    outline             none

.main-widget
    margin      32px 0

.sidebar-widget h3
    text-transform  capitalize
    margin-top      32px

.sidebar-widget .widget-content
    margin-left     8px

.widget-gray .sidebar-widget
    opacity         0.3

.sidebar-widget .btn-widget
    float           right
    margin-top      5px

.calendar-widget .calendar,
datepicker
    display         inline-block

daypicker:focus
    box-shadow          none
    border              none

datepicker-inner .well
    margin-bottom   0

.calendar ul > li:first-child
    margin-top      24px

li.calendar-item
    list-style      none
    margin-bottom   16px

.calendar-item strong
    margin-left     -24px

.calendar .events-sparse
    font-weight         bold
    background-color    calendar-sparse
    
.calendar .events-medium
    @extend .calendar .events-sparse
    text-decoration     underline
    background-color    calendar-medium
    
.calendar .events-lots
    @extend .calendar .events-medium
    background-color    calendar-lots

.events-lots span
    border-bottom       1px solid black

.events-lots.active span
    border-bottom-color white
    
.modal
    color               text-main
    
.modal-title
    font-weight         bold

.modal-tabset ul
    margin-left         -15px
    margin-right        -15px
    margin-bottom       24px

.modal-tabset li a
    color               text-main-li

.modal-tabset li a.disabled:hover
    border-color        transparent
    cursor              default


daypicker:focus,
monthpicker:focus,
yearpicker:focus
    outline         none

//    &:hover
//        border              1px solid #DDD
//        -webkit-box-shadow  inset 2px 2px 3px 0px #EEE
//        -moz-box-shadow     inset 2px 2px 3px 0px #EEE
//        box-shadow          inset 2px 2px 3px 0px #EEE
//        cursor              pointer

.editor-view
    width           100%
    height          100%
    padding         5px
    margin-left     -5px
    margin-right    -5px
    border          1px dashed #EEE
    &.disabled
        border      1px solid transparent
    &:hover
        border      1px solid editor-border
        box-shadow  inset 2px 2px 3px 0px #EEE
        cursor      pointer
        &.disabled
            border      1px solid transparent
            box-shadow  none
            cursor      inherit
    &:focus
        box-shadow  inset 2px 2px 3px 0px #EEE
        &.disabled
            box-shadow  none
    &.editing
        border      1px solid editor-border
        &:hover
            cursor  inherit

.editor-bar
    background-color    editor-bar-bg
    margin-left         -5px
    width               100%
    border              1px solid editor-border
    padding             4px
    margin-bottom       -1px

    & .btn
        padding       2px 6px
        min-width     28px
        border        1px solid transparent
        margin-right  4px

        &:hover
            background-color editor-bar-hover
            border           1px solid editor-border

        &.toggled
            background-color editor-bar-focus
            border           1px solid editor-btn-border