html,
body {
  margin: 0;
}
a,
a:hover {
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: inherit;
}
.navbar {
  color: #fff;
  background-color: #333;
  padding: 16px;
  padding-bottom: 8px;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-border {
  height: 10px;
  background-color: #7e122c;
  border-bottom: 2px solid #680f24;
  border-top: 2px solid #941534;
  margin-bottom: 20px;
}
.navbar-title {
  font-size: 1.2em;
  margin-left: 64px;
}
.navbar-icon {
  width: 48px;
  height: 48px;
  margin: 5px;
  margin-top: 0;
  position: absolute;
  filter: url("/img/waltz-example_logo.png#drop-shadow");
  -webkit-filter: drop-shadow(0px 1px 3px #000);
  filter: drop-shadow(0px 1px 3px #000);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0px, OffY=1px, Color='#000')';
  filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0px' ', OffY=1px, Color='#000')';
}
.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post {
  font-weight: normal;
  color: #000;
  display: block;
  padding: 5px;
  margin: 0;
}
.post:hover {
  background-color: rgba(126,18,44,0.1);
  font-weight: normal;
  color: #000;
}
.post-title {
  font-weight: bold;
}
.post-date {
  font-style: italic;
}
