normalize-css()

html,
body
    margin 0

a,
a:hover
    text-decoration none
    font-weight     bold

a:visited
    color inherit
    
.navbar
    color            white
    background-color black
    padding          16px
    border-radius    0

.navbar-title
    font-size   1.2em