html,
body {
  margin: 0;
}
a,
a:hover {
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: inherit;
}
.navbar {
  color: #fff;
  background-color: #000;
  padding: 16px;
  border-radius: 0;
}
.navbar-title {
  font-size: 1.2em;
}
