div('*ngIf'='!isEditing' '[ngClass]'='{enabled: isEnabled}' '(click)'='startEditMode()') {{value}}

div('*ngIf'='isEditing')
    span.btn('(click)'='save()' '[ngClass]'='{disabled: savingDisabled}')
        span.glyphicon.glyphicon-floppy-disk
        | &nbsp; {{'save' | translate:lang}}

    span.btn('(click)'='close()')
        span.glyphicon.glyphicon-remove
        | &nbsp; {{'close' | translate:lang}}

    textarea#inputArea('[ngModel]'='value' '(ngModelChange)'="value=$event;updateSaveButton()" placeholder='{{value}}' autofocus)