div.editor-bar('*ngIf'='isEditing')
    span.btn('(click)'='save()' '[ngClass]'='{disabled: savingDisabled}')
        span.glyphicon.glyphicon-floppy-disk
        | &nbsp; {{'save' | translate:lang}}

    span.divider

    span.btn.unselectable.bold('(click)'='handleLinking(inputArea, "editor.link.message");' 'unselectable'='on' '[ngClass]'='{toggled: linkSelected()}' '[tooltip]'='"editor.link.tooltip" | translate:lang' 'tooltipClass'='editor-tooltip')
        span.glyphicon.glyphicon-link

    span.divider

    span.btn.unselectable.bold('(click)'='command("bold", inputArea);' 'unselectable'='on' '[ngClass]'='{toggled: document.queryCommandState("bold")}' '[tooltip]'='"editor.bold" | translate:lang' 'tooltipClass'='editor-tooltip') B

    span.btn.unselectable.italic('(click)'='command("italic", inputArea);' 'unselectable'='on' '[ngClass]'='{toggled: document.queryCommandState("italic")}' '[tooltip]'='"editor.italic" | translate:lang' 'tooltipClass'='editor-tooltip') I

    span.btn.unselectable.underline('(click)'='command("underline", inputArea);' 'unselectable'='on' '[ngClass]'='{toggled: document.queryCommandState("underline")}' '[tooltip]'='"editor.underline" | translate:lang' 'tooltipClass'='editor-tooltip') U

    span.divider

    span.btn.unselectable('(click)'='command("superscript", inputArea);' 'unselectable'='on' '[ngClass]'='{toggled: document.queryCommandState("superscript")}' '[tooltip]'='"editor.superscript" | translate:lang' 'tooltipClass'='editor-tooltip')
        span.glyphicon.glyphicon-superscript

    span.btn.unselectable('(click)'='command("subscript", inputArea);' 'unselectable'='on' '[ngClass]'='{toggled: document.queryCommandState("subscript")}' '[tooltip]'='"editor.subscript" | translate:lang' 'tooltipClass'='editor-tooltip')
        span.glyphicon.glyphicon-subscript

    span.divider

    span.btn.unselectable('(click)'='command("justifyLeft", inputArea);' 'unselectable'='on' '[ngClass]'='{toggled: document.queryCommandState("justifyLeft")}' '[tooltip]'='"editor.align.left" | translate:lang' 'tooltipClass'='editor-tooltip')
        span.glyphicon.glyphicon-align-left

    span.btn.unselectable('(click)'='command("justifyCenter", inputArea);' 'unselectable'='on' '[ngClass]'='{toggled: document.queryCommandState("justifyCenter")}' '[tooltip]'='"editor.align.center" | translate:lang' 'tooltipClass'='editor-tooltip')
        span.glyphicon.glyphicon-align-center

    span.btn.unselectable('(click)'='command("justifyRight", inputArea);' 'unselectable'='on' '[ngClass]'='{toggled: document.queryCommandState("justifyRight")}' '[tooltip]'='"editor.align.right" | translate:lang' 'tooltipClass'='editor-tooltip')
        span.glyphicon.glyphicon-align-right

    span.btn.unselectable('(click)'='command("justifyFull", inputArea);' 'unselectable'='on' '[ngClass]'='{toggled: document.queryCommandState("justifyFull")}' '[tooltip]'='"editor.align.justify" | translate:lang' 'tooltipClass'='editor-tooltip')
        span.glyphicon.glyphicon-align-justify

    span.divider

    span.btn.unselectable.underline('(click)'='command("insertHorizontalRule", inputArea);' 'unselectable'='on' '[tooltip]'='"editor.horizRule" | translate:lang' 'tooltipClass'='editor-tooltip') HR

    span.btn.pull-right('(click)'='close(inputArea)')
        span.glyphicon.glyphicon-remove
        | &nbsp; {{'cancel' | translate:lang}}

div.editor-view(link '#inputArea'='link' '(click)'='startEditMode()' '[innerHTML]'='content' 'attr.contenteditable'='{{isEnabled}}' '(input)'='value=$event.target.innerHTML;contentUpdated();' '[ngClass]'='{editing: isEditing, disabled: !isEnabled}')