a.post((click)='openPost()' '*ngIf'='info.usePostDetails')
    div.post-title   {{post?.title}}
    div.post-content('[innerHTML]'='post?.content')
    div.post-metadata
        span.post-author(*ngIf='post?.author') {{'post.author' | translate:lang}} {{post?.author}} &bull;
        span.post-date    {{post?.postedOn | localedate:defaultLocale:'fullDate'}}