exports.port    = 80;
exports.env     = "development";
exports.dburl   = "localhost:27017/DATABASE-NAME";
exports.logDir  = "./logs/";

exports.dbData  = "./data";
exports.dbLog   = "mongo.log";

exports.secret  = "REPLACE_WITH_A_RANDOM_STRING";