// These are the different endpoints used in the API.
exports.epInfo   = "/info";
exports.epPosts  = "/posts";
exports.epUsers  = "/users";
exports.epLogin  = "/login";
exports.epLogout = "/logout";
exports.epEvents = "/events";
exports.epPages  = "/pages";

// The default author used for requests missing the author field.
exports.defaultAuthor = "Anonymous";

// All locales you want to support.
exports.supportedLocales = [
    "en",
    "nl"
];

exports.defaultLocale = "en";

// Keep these parameters hidden, as they can compromise your application's security
exports.hashLength     = 64;
exports.hashIterations = 1000;
exports.hashSecret     = "REPLACE_WITH_A_RANDOM_STRING";

// This defines how long a session token will be valid (in days).
exports.sessionLength  = 7;