div.calendar
    a.btn.btn-default.btn-xs((click)='showList()', *ngIf='!listMode') {{'list' | translate:lang}}
    a.btn.btn-default.btn-xs((click)='showCalendar()', *ngIf='listMode') {{'calendar' | translate:lang}}
    a.btn.btn-default.btn-xs((click)='reset()', *ngIf='!listMode') {{'today' | translate:lang}}
    datepicker([(ngModel)]='date', [showWeeks]='false', *ngIf='!listMode', (ngModelChange)="dateChanged($event)", [customClass]='dayClasses')
    ul(*ngIf='listMode')
        li.calendar-item(*ngFor='let event of events')
            strong {{event.date | localedate:defaultLocale:'yMMMdjm'}} - {{event.endDate | localedate:defaultLocale:'shortTime'}}:
            br
            | {{event.title}}
    div(*ngIf='!listMode')
        ul
            li.calendar-item(*ngFor='let event of filteredEvents')
                strong {{event.date | localedate:defaultLocale:'shortTime'}} - {{event.endDate | localedate:defaultLocale:'shortTime'}}
                br
                | {{event.title}}