div.row
    div.col-xs-12.col-sm-9.main-container
        div.main-widget
            h1 {{'welcomeTitle' | translate:lang}} #{env('main.title')}!
            div {{info.welcomeText}}
        div.main-widget
            ul.posts-list
                li(*ngFor="let post of posts")
                    post([post]='post')
    div.col-xs-12.col-sm-3.sidebar-container
        calendar-widget(*ngIf="info.showCalendar")
        div.sidebar-widget(*ngIf="info.showAbout")
            h3  {{'widget.about' | translate:lang}}
            div.widget-content {{info.aboutUs}}
        div.sidebar-widget(*ngIf="info.showFAQ")
            h3  {{'widget.faq' | translate:lang}}
            div.widget-content {{info.faq}}