div.row
    div.col-xs-12.col-sm-9.main-container
        div.main-widget
            h1 {{'welcomeTitle' | translate}} #{env('main.title')}!
            div {{'welcomeText' | translate}}
        div.main-widget
            ul.posts-list
                li(*ngFor="#post of posts")
                    post([post]='post')
    div.col-xs-12.col-sm-3.sidebar-container
        div.sidebar-widget
            h3 {{'widget.upcoming' | translate}}
        div.sidebar-widget
            h3 {{'widget.about' | translate}}
        div.sidebar-widget
            h3 {{'widget.faq' | translate}}