include ../header.pug

div.container

    //alert(*ngIf='alert' [type]='alert.type' dismissible='{{alert.dismissible}}' dismissOnTimeout='{{alert.timeout}}') {{alert?.message}}

    router-outlet

    include ../footer.pug