doctype html
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='The lightweight JavaScript CMS.')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

        base(href='/')
        title='Waltz Example Site'

        link(rel='icon' type='image/x-icon' href='favicon.ico')
    body
        app-root Loading Waltz...
//        waltz-main #{env('main.loadingMsg')}