footer
    | Website designed by 
    a(href="http://www.zedutchgandalf.be" target="_blank") Robin Arys 
    | and proudly powered by 
    a(href="https://github.com/zedutchgandalf/Waltz-CMS" target="_blank") Waltz!