footer
    | {{'footer.designBy' | translate:lang}}
    a(href="http://www.zedutchgandalf.be" target="_blank") Robin Arys 
    | {{'footer.poweredBy' | translate:lang}}
    a(href="https://github.com/zedutchgandalf/Waltz-CMS" target="_blank") {{ 'waltz' | translate:lang}}!