head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='The lightweight JavaScript CMS.')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    base(href='/')
    title=env('main.pageTitle')

    link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='styles/waltz.css')

    //- Enable livereload
    != LRScript
    