div.navbar
    div.container
        a([routerLink]="['/']")
            img.navbar-icon(src=env("main.logo"))
        a.navbar-title([routerLink]="['/']") #{env('main.title')}
        span.navbar-menu
            login-modal('(userDataChange)'='changeUserData($event)')

div.navbar-border