div.navbar
    div.container
        a([routerLink]="['/']")
            img.navbar-icon(src="/img/waltz-example_logo.png")
        a.navbar-title([routerLink]="['/']") #{env('main.title')}
        span.navbar-menu
            a((click)='login()') Login
div.navbar-border