div.navbar
    div.container
        a([routerLink]="['/']")
            img.navbar-icon(src="/img/waltz-example_logo.png")
        a.navbar-title([routerLink]="['/']") #{env('main.title')}
        span.navbar-menu
            login-modal('(userDataChange)'='changeUserData($event)' '*ngIf'='!user.username')
            a('*ngIf'='user.username') {{user.username}}

div.navbar-border